// docs/_sass/color_schemes/deepcall.scss
$body-background-color: #ffffff;
$sidebar-color: #F5F3FD;
$sidebar-border-color: #DBCFFA;
$body-text-color: #333;
$search-background-color: #fff;

$link-color: #7446E8;
$btn-primary-color: #7446E8;

$feedback-color: #7446E8;
$header-heading-color: #7446E8;